main,
header {
  margin: 20px;
  padding: 20px;
}

.container {
}

h1,
h4 {
  background-color: lightsteelblue;
}

div {
  background-color: lightgrey;
}

.city-display {
  display: flex;
  flex-direction: column;
}

.future-forecast-container {
  display: flex;
  flex-direction: row;
}

.form-element {
  width: 100%;
}
