*,
button {
  font-family: "Quicksand", sans-serif;
}

main {
  margin: 10px;
}

.is-1 {
  text-align: center;
  background-color: #d1d1d1;
  margin-bottom: 40px;
}

.card {
  padding: 10px;
}

.forecast {
  margin-top: 20px;
}
